body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

hr{
display: block;
width: 100%;
height: 2px;
border: 0;
background-color: #FFE4C4;
margin: 20px 0;
}

h1, h2, h3, h4, h5, h6, h7{
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: center no-repeat;
	width: 100%;
	height: 100vh;
-webkit-background-size: cover;
	background-size: cover;
}

.block_inner{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.block_title{
	font-size: 80px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	color: #fff
}

.block_suptitle{
	margin-bottom: 15px;
	font-size: 60px;
	color: #fff;
	font-family: 'chasm', cursive;
}

.header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 30px;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	border: 2px solid #fc0;
	padding: 10px;
}

				/*навигация*/

.nav{
	font-size: 15px;
	text-transform: uppercase;
}

.nav_link{
	transition: color .2s linear;
	text-decoration: none;
	color: #fff;
	margin: 0 10px;
	vertical-align: top;
	display: inline-block;
}

.nav_link:hover{
	color: #fce38a;
}

.nav_link.active:after{
	opacity: 1;
}

.nav_link.active{
	color: #fce38a;
}

				/*2 блок*/

.section{
	padding: 70px 90px;
}

.section_header{
	margin: 0 auto 40px;
	width: 100%;
	max-width: 950px;
	text-align: center;
}

.section_suptitle{
	color: #333;
	font-size: 24px;
	font-family: 'chasm', cursive;
}

.section_title{
	color: #333;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 4px 5px 5px orange;
}

.section_title:after{
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	margin: 40px auto;
	background-image: linear-gradient(55deg, orange, green, red, blue); 
}

.section_text{
	font-family: 'roboto';
	font-size: 25px;
	color: #999
}
				/*reviews*/
.reviews{
	padding: 0 110px;
	background-color: #FFF8DC;
}

.reviews_item{
	padding-left: 200px;
	position: relative;	
}

.reviews_photo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.reviews_text{
	font-size: 25px;
	font-style: italic;
	font-weight: 300;
	color: #999;	
}

.reviews_author{
	font-size: 25px;
	color: #333;
	font-family: 'chasm', cursive;
}

				/*about*/

.about{
	display: flex;
	justify-content: space-between;
	margin: 0 -70px;
}

.about_item{
	width: 380px;
	position: relative;
	margin: 0 10px;
}

.about_item:hover .about_img img{
	opacity: .1;
}
.about_item:hover .about_text{
	opacity: 1;
}

.about_img {
	background: linear-gradient(55deg, orange, #7FFFD4, #4B0082);
}

.about_img img{
	display: block;
	transition: opacity .1s linear;
}

.about_text{
	width: 100%;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1000;
	transform: translate3d(0, -50%,0);
	opacity: 0;
	transition: opacity .1s linear;
	font-family: 'tahoma', cursive;
}


				/*links*/

.links{
	display: flex;
	justify-content: space-between;
	margin: 0 -10px;
}

.links_item{
	width: 470px;
}

.links_inner{
	position: relative;
	margin: 0 10px;
	background-color: #FFA500;
}

.links_inner:hover .links_img{
	transform: translate3d(-10px, -10px, 0);
}

.links_inner:hover .links_img img{
	opacity: .1;
}
.links_inner:hover .links_text{
	opacity: 1;
}

.links_img {
	background: linear-gradient(80deg, #ADFF2F, #20B2AA, #4169E1);
	transition: transform .1s linear;
}

.links_img img{
	display: block;
	transition: opacity .1s linear;
}

.links_text{
	width: 100%;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1000;
	transform: translate3d(0, -50%,0);
	opacity: 0;
	transition: opacity .1s linear;
	font-family: 'tahoma', cursive;
}

.links_info{
	margin-top: 20px;
	text-align: center;
}

.links_name{
	text-transform: uppercase;
	color: #333;
	font-size: 15px;
	font-family: 'algerian', cursive;	
}

.links_prof{
	color: #696969;
}

				/*3 блок*/


.section_1{
	background-color: #FDF5E6;
}

.services{
	display: flex;
	padding-bottom: 15px;
}

.services_item{
	flex: 1 1 0;
	padding-left: 180px;
	padding-right: 15px;
	position: relative;
	padding-bottom: 5px;
}

.services_title{
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 9px;
}

.services_text{
	font-size: 15px;
	color: #999;
	font-family: 'roboto';
}


				/*social*/

.social{
	display: flex;
	justify-content: center;
}

.social_item{
	padding: 10px;
	background-color: #F5F5F5;
	border-right: 1px solid #C0C0C0;
	text-decoration: none;
	font-size: 30px;
	color: #4B0082;
	transition: background .1s linear, color.1s linear;	
}

.social_item:hover{
	background-color: #4B0082;
	color: #F5F5F5;
}

.social_item:last-child{
	border-right: 0;
}

				/*Bot*/



.Bot_title{
	font-size: 55px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

}
.Bot_inner{
	text-align: center;
	padding: 40px;
}


				/*copyright*/


.copyright{
	padding: 20px 0;
	border-top: 1px solid #C0C0C0;
	font-size: 14px;
	color: #000000;
	text-align: center;	
}

.copyright span{
	color: #A52A2A;
}

